*{
    margin: 0px;
    padding: 0px;
}
.navbar ul{
    display: flex;
    gap: 35px;
    margin: 10px;
    align-items: center;
    justify-content: center;
}


ul li{
    list-style: none;

}
li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: brown;
}

.logo1{
    align-self: flex-start;
    justify-self: flex-start;
    margin-right: 250px;
}


