*{
    margin: 0;
    padding: 0;
}
body{
    background-color: grey;
}
.container{
    background-color: white;
    width:30vw;
    height: 90vh;
    border: 2px solid grey;
    margin: 10px;
    border-radius: 15px;
}

.image-container img{
    width: 95%;
    padding: 11px;
    border-radius:15px ;
}
.capsules span{
    display: inline-flex;
    border: 1px solid grey;
    margin-left: 30px;
    margin-top: 10px;
    padding:10px;
    border-radius: 15px;
}
.capsules span:hover{
    cursor: pointer;
    background-color: pink;
}
.para{
    margin: 25px;
    padding: 10px;
}
.para p{
    margin: 11px;
}
.capsule2{
    display: inline-flex;
    /* justify-content: center;
    align-items: center; */
    width: 20%;
    /* margin-top: 1px; */
    margin-left: 165px;

   
}

.capsule2 span{    
    border: 1px solid grey;
    padding:10px;
    border-radius: 15px;
    background-color: rgb(108, 199, 229);
    color: blue;
}